@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Aplicamos Montserrat a toda la web por defecto */
body, h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: 'Montserrat', sans-serif !important;
}

/* Para los títulos y el menú, le damos el toque de NOVUM (Mayúsculas y espaciado) */
h1, h2, nav a, header a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}